
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /*background: linear-gradient(120deg, #2980b9, #8e44ad);*/
    background-color: #f4f4f4;
    height: 100vh;
    overflow: hidden;
}
#back_button{
    position: relative;
    left: 16%;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button {
    border:2px solid rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 20px;
}

#back_button:hover{
    border-color: #2691d9;
    transition: .5s;
}
#sent_email:hover{
    border-color: #2691d9;
    transition: .5s;
}
#sent_email {
    position: relative;
    left: 2%;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}
select{
    width: 100%;
}
/*.dropdown, .Title{*/
/*    width: 60%;*/
/*    !*border: 1px solid black;*!*/
/*    text-align: left;*/
/*    !*position: relative;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/
/*}*/
/*.dropdown{*/
/*    background-color: #ece7e7;*/
/*}*/
/*.Title{*/
/*    background-color: #b0aaaa;*/
/*}*/
form .custom-select{
    position: relative;
    margin: 30px 0;
}
.custom-select input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.custom-select label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.custom-select span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.custom-select input:focus ~ label,
.custom-select input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.custom-select input:focus ~ span::before,
.custom-select input:valid ~ span::before{
    width: 100%;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background:white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.container h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
}
.container form{
    padding: 0 40px;
    box-sizing: border-box;
}


